;; defsrc is still necessary
(defcfg
  process-unmapped-keys yes   ;; required to make non mapped keys behave nicely with remapped ones
  block-unmapped-keys no      ;; turns every other unmapped key into a non-op key
  log-layer-changes no        ;; no logging
  concurrent-tap-hold yes     ;; required to allow for combos and tap-hold-release features to coexist
  delegate-to-first-layer yes ;; defaults to source, but this will default transparent keys (_) to first custom layer
  chords-v2-min-idle 350      ;; same as require-prior-idle from ZMK but only for for combos
  linux-dev (
    /dev/input/event2
  )
)

(defvar
  tap-time 250
  hold-time 250
  slowhold-time 350
  ;; timings in ms using ZMK-like names
  one-shot-timeout 60000                 ;; 60 seconds. Bonkers, I know…
  tapping-term 300                       ;; A higher number allows for one handed modded keys reducing the chance of false-positives when typing fast
  quick-tap-ms 200                       ;; same as ZMK ($tap-repress-timeout in Kanata docs)
  require-prior-idle 250                 ;; same as ZMK (not used in vanilla kanata, but used as a workaround in this confit)  
  combo-timeout 60                       ;; same as ZMK
  
  ;; keys for tap-hold-release-tap-keys-release templates
  left-side-keys   (' , . p y i ; q j k x) ;; these keys will always make the precedent same hand tap-hold-release-tap-keys-release output tap. B is missing because I, sometimes, alt finger it
  right-side-keys  (f g c r l m d - b m w v z) ;; these keys will always make the precedent same hand tap-hold-release-tap-keys-release output tap
  home-row-left-keys  (a o e u)      ;; home row mods + z for fn  - these will output a tap if they're released after the first key
  home-row-right-keys (h t n s)        ;; home row mods             - these will output a tap if they're released after the first key
)

(deftemplate lhrm (tappingterm tap-key hold-key) 
  (tap-hold-release-tap-keys-release $quick-tap-ms $tappingterm (multi $tap-key @tap) $hold-key $left-side-keys $home-row-left-keys)
)

(deftemplate rhrm (tappingterm tap-key hold-key) 
  (tap-hold-release-tap-keys-release $quick-tap-ms $tappingterm (multi $tap-key @tap) $hold-key $right-side-keys $home-row-right-keys)
)

(defalias
     tap (multi ;; trying to make it possible to impolement a quasi-'require-prior-idle' behavior
        (layer-switch nomods)                             ;; temporarily switches to a layer with no home row mods enabled
        (on-idle $require-prior-idle tap-virtualkey to-base) ;; when $require-prior-idle expires, uses the fake key to return to base layer (see )
      )

      ; (t! lhrm   $tapping-term        ; lalt   )
      q (t! lhrm   $tapping-term        q lmet   )
      j (t! lhrm   $tapping-term        j lsft   )
      k (t! lhrm   $tapping-term        k lctl   )
  
      m (t! rhrm   $tapping-term        m rctl   )
      w (t! rhrm   $tapping-term        w rsft   )
      v (t! rhrm   $tapping-term        v rmet   )
      z (t! rhrm   $tapping-term        z ralt   )

      1 (t! rhrm   $tapping-term        1 rctl   )
      2 (t! rhrm   $tapping-term        2 rsft   )
      3 (t! rhrm   $tapping-term        3 rmet   )
      . (t! rhrm   $tapping-term        . ralt   )


  holdnav (layer-while-held nav)
  spc (multi f24 (tap-hold $tap-time $hold-time spc rsft))
  holdnumsym (layer-while-held numsym)
  esc (multi f24 (tap-hold-release $tap-time $hold-time esc @holdnav))
  ktmux ( tap-dance 180 (k C-b))
  stab S-tab
  cad C-A-del
  cw (caps-word 2000)
)

(defchordsv2
  (k j) ret 15 first-release ()
  (d f) bspc 15 first-release ()
  (w e) esc 15 first-release ()
  (s d) tab 15 first-release ()
  (o i) del 15 first-release ()
  (v m) (one-shot 500 (layer-while-held numsym)) 20 all-released ()
#|  (spc s) lalt 20 all-released ()
  (spc d) lmet 20 all-released ()
  (spc f) lctl 20 all-released ()
  (spc d f) (multi lctl lmet) 20 all-released ()
  (spc f a) (multi lctl lsft) 20 all-released ()
  (spc s f) (multi lctl lalt) 20 all-released ()
  (spc d s) (multi lmet lalt) 20 all-released ()

  (spc j) rctl 20 all-released ()
  (spc k) rmet 20 all-released ()
  (spc l) ralt 20 all-released ()
  (spc j k) (multi rctl rmet) 20 all-released ()
  (spc j ;) (multi rctl rsft) 20 all-released ()
  (spc j l) (multi rctl ralt) 20 all-released ()
  (spc k l) (multi rmet rsft) 20 all-released ()
|#
;;  (spc v) @holdsymnav 20 all-released ()
;;  (spc n) @holdsymnav 20 all-released ()

)

(defvirtualkeys  
  to-base (layer-switch base) ;; used in @tap alias to return to base layer on tap after hold-tap-release keys in an attempt to emulate ZMK require-prior-idle behavior
)

(defsrc
  ` 1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab q    w    e    r    t    y    u    i    o    p    [    ]    \
  caps a    s    d    f    g    h    j    k    l    ;    '       ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft
    lctl  lmet lalt           spc           ralt rctl left down up   rght
)

(deflayer base
  ` tab    '    ,    .    p    y    f    g    c    r    l    /    \
  = a    o    e    u    i    caps    d    h    t    n    s    -    ret
  ] @;    @q    @j    @k    x    @holdnumsym    b    @m    @w    @v    @z   ret
  lsft ;    q    j    bspc    @esc    ret    spc    w    v    z    rsft
  lctl lmet lalt        lsft        ralt rctl left down up   rght
)

(deflayer nomods
  ` tab    '    ,    .    p    y    f    g    c    r    l    /    \
  = a    o    e    u    i    caps    d    h    t    n    s    -    ret
  ] ;    q    j    k    x    @holdnumsym    b    m    w    v    z   ret
  lsft ;    q    j    bspc   @esc    ret    spc    w    v    z    rsft
  lctl lmet lalt        lsft        ralt rctl left down up   rght
)


(deflayer nav
  _ _    @cad    _    _    del    _    _    home    pgdn    pgup    end    _    _
  _  _ lalt    @stab    tab    caps        _  _    left    down    up    right    _    _
  _ _    _    _    ins   @cw    d    left    down    up    right    _   _
  _ _    _    _    _    _    _    _    _    _    _    _
  _ _ _        _        _ _ _ _ _   _
)
(deflayer numsym
  _ _    _    _    [    ]    \    \    7    8    9    =    _    _
  _ _    _    S-9    S-0    `    _    /    4    5    6    -    _    _
  _ _    _    _    _    _    _    0    @1    @2    @3    @.   _
  _ _    _    _    _    _    _    _    _    _    _    _
  _ _ _        @spc        _ _ left down up   rght
)
